
/*primary-color: #6699CC; 
secondary-color: #FFF275;
accent1-color: #FF8C42;
accent2-color: #FF3C38;

heading-font:
text-font:
*/

/* This is for th html
roboto
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">

this is for css 
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  */