:root{
    --heading-background-color: rgb(185, 199, 211);
    --heading-text-color: #3d3d3d;
    --heading-font: 'Monserrat', Helvetica, sans-serif;
    --padding:1rem;
    --border: 1px solid rgba(0,0,0,0.1)
}
nav{
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding)

}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0px;
}
main{
    max-width: 840px;
}
aside {
    width: 15rem;
    margin: rem;
    border: 1px solid steelblue;
    padding: var(--);
    background-color: rgb(244, 245, 248);
    color: rgb(1, 38, 68);
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
main img{
    width: 150px;
    height: auto;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}